<header>     
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">         
             
        <ul class="navbar-nav">            
             <li>
                 <a routerLink="/register" class="nav-link">Register</a>
                </li>             
                <li>
                    <a routerLink="/quiz" class="nav-link">Quiz</a>
            </li>         
        <!-- </ul>         
        <ul class="navbar-nav navbar-collapse justify-content-end">              -->
            <li>
                <a routerLink="/review" class="nav-link">Review</a>
            </li>             
            <li>
                <a routerLink="/result" class="nav-link">Result</a>
            </li>         
        </ul>     
    </nav> 
</header>
<br> <br>
<img src="../../assets/logo.png" alt="quiz logo" style="height: 250px;width: 250px;"><br><br>